@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
       Overview
    </div>
    <div class="row mb-3 text-center">
        <div class="col-sm-6 col-lg-8 themed-grid-col">
            <h1 class="display-4">Linear-Regression</h1>
            <p>Learn about </p>
        </div>
        <div class="col-6 col-lg-4 themed-grid-col">Button</div>
    </div>
</div>
