@{
    ViewData["Title"] = "Module Linear Regression";
}
<h1 class="display-4 text-center border-bottom">Linear Regression</h1>

<p>Here you can find a Visualization of Linear Regression.</p>

<div class="ml-spinner" style="display: none; align-items: center; margin-top:10px; margin-bottom:10px;">
    <div class="spinner-grow text-secondary" role="status"></div>
    <div style="margin-left: 10px;">Loading...</div>
</div>

<div id="chartDiv"></div>

<div class="d-grid gap-2 d-md-flex">
    <button id="btn-calculate" class="btn btn-primary" type="button">Calculate</button>
    <button id="btn-calculate" class="btn btn-primary" type="button">Example Data</button>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">

    class LinearRegressionGraph {
        constructor(name, degree) {
            this.name = name;
            this.degree = degree;
        }
    }

    class AJAX_LinearRegression_Model {
        constructor(graphs, x_vector, y_vector) {
            this.graphs = graphs;
            this.x_vector = x_vector;
            this.y_vector = y_vector;
        }
    }

    const graph1 = new LinearRegressionGraph("Regression Straight", 2);
    //const graph2 = new LinearRegressionGraph("Graph 2", 5);

    const model = new AJAX_LinearRegression_Model([graph1], [1, 2, 3], [2, 5, 2]);

    var button = document.getElementById('btn-calculate');

    let url = '/Module/AJAX/LinearRegression';
    let data = model;
    let serverData = {};



    function calculate() {
        //alert('Hello, World!');

        document.querySelector('.ml-spinner').style.display = 'flex';

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                serverData = data;
                console.log(serverData);

                //var chartJson = '@Html.Raw(ViewData["ChartJson"])';
                var chartData = JSON.parse(serverData);
                var layout = {
                    title: 'Scroll and Zoom'
                };

                Plotly.newPlot('chartDiv', chartData.Fields[0], layout, { responsive: true, scrollZoom: true, displayModeBar: true });

                document.querySelector('.ml-spinner').style.display = 'none';
            })
            .catch((error) => {
          
                document.querySelector('.ml-spinner').style.display = 'none';

                console.error('Error:', error);
            });

        
    }

    button.addEventListener('click', calculate);


</script>  