@{
    ViewData["Title"] = "Module Linear Regression";
}
<h1 class="display-4 text-center border-bottom">Linear Regression</h1>

<p>Here you can find a Visualization of Linear Regression.</p>

<div id="chartDiv"></div>

<div class="d-grid gap-2 d-md-flex">
    <button id="btn-calculate" class="btn btn-primary" type="button">Calculate</button>
    <button id="btn-calculate" class="btn btn-primary" type="button">Example Data</button>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">

    class LinearRegressionGraph {
        constructor(name, degree) {
            this.name = name;
            this.degree = degree;
        }
    }

    class AJAX_LinearRegression_Model {
        constructor(graphs, x_vector, y_vector) {
            this.graphs = graphs;
            this.x_vector = x_vector;
            this.y_vector = y_vector;
        }
    }

    const graph1 = new LinearRegressionGraph("Graph 1", 2);
    const graph2 = new LinearRegressionGraph("Graph 2", 3);

    const model = new AJAX_LinearRegression_Model([graph1, graph2], [1, 2, 3], [4, 5, 6]);

    var button = document.getElementById('btn-calculate');

    let url = '/Module/AJAX/LinearRegression';
    let data = model;
    let serverData = {};



    function calculate() {
        //alert('Hello, World!');

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                serverData = data;
                console.log(serverData);

                //var chartJson = '@Html.Raw(ViewData["ChartJson"])';
                var chartData = JSON.parse(serverData);
                var layout = {
                    title: 'Scroll and Zoom'
                };

                Plotly.newPlot('chartDiv', chartData.Fields[0], layout, { responsive: true, scrollZoom: true, displayModeBar: true });
                
            })
            .catch((error) => console.error('Error:', error));
    }

    button.addEventListener('click', calculate);

    
</script>  