@{
    ViewData["Title"] = "Modules";
}



<h1 class="display-4" text-center>Numerical Mathethematics - Modules</h1>

<h1 class="display-6">Regression</h1>

<ul class="list-group">
    <li class="list-group-item row mb-3">
        <div>
            <h6>
                Linear-Regression</h1>
                <p>Learn about </p>
            </h6>
        </div>
        <div>
            @Html.ActionLink("mko1", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })

        </div>
    </li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
</ul>
