@{
    ViewData["Title"] = "Modules";
}



<h1 class="display-4 text-center border-bottom">Numerical Mathematics - Modules</h1>
<h1 class="display-6">Regression</h1>
<br />
<h6>Regression is a statistical method used to determine the relationship between a dependent variable and one or more independent variables, often used for prediction and forecasting.</h6>
<br />
<div class="list-group" style="">
    @Html.ActionLink(" Linear Regression", "LinearRegression", "Module", null, new { @class = "list-group-item list-group-item-action bi-play" })
</div>

<style>
    .ml-sidebar-content {
        height: 100vh;
    }
</style>



